<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

<div class="container-fluid hightlight-section">
	<div class="">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-11">
						<p class="">Edit event<p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row margint">
		<div class="col-md-3 col-md-offset-8 col-sm-6 col-sm-offset-5">
				<mandatory class="text-danger"></mandatory>
		</div>
	</div>
	<div class="row margint">
		<div class="col-md-8 col-md-offset-2">
			<div ng-controller="EditEventCtrl">
				<div class="row bor" style="border: 1px solid skyblue" >
					<div class="col-md-12">
						<form name="eventForm" class="form-horizontal">
						  <div class="form-group">
							<div class="row margint">
								<div class="col-md-3">
									<label class="control-label">ID:</label>
								</div>
								<div class="col-md-7">
									<input name="eventId" type="text" class="form-control textbox"
										ng-model="event.eventId" required disabled="disabled" />
									<span
										ng-show="eventForm.eventId.$dirty && eventForm.eventId.$error.required"
										class="text-danger">Event ID is required</span>
								</div>
							</div>
							<div class="row margint">
								<div class="col-md-3">
									<label class="control-label">Name:</label>
								</div>
								<div class="col-md-7">
									<input name="eventname" type="text" ng-maxlength="255"
										class="form-control textbox" placeholder="event name"
										ng-model="event.eventName" required />
									<span
										ng-show="eventForm.eventname.$dirty && eventForm.eventname.$error.required"
										class="text-danger">Event name is required</span>
									<span
										ng-show="eventForm.eventname.$dirty && eventForm.eventname.$error.maxlength"
										class="text-danger">Event name maximum length should be
										255</span>
								</div>
								<div class="col-md-1">
									<span class="text-danger span">*</span>
								</div>
							</div>
							<div class="row margint">
								<div class="col-md-3">
									<label class="control-label">Date:</label>
								</div>
								<div class="col-md-7">
									<input type="text" name="eventdate" validate-date
										ng-click="datepickers.eventDate = true"
										datepicker-popup="dd-MMM-yyyy" popup-placement="bottom-left"
										uib-datepicker-popup="dd-MMM-yyyy"
										is-open="datepickers.eventDate"
										datepicker-options="dateOptions" class="form-control textbox"
										placeholder="event date" ng-model="event.eventDate"
										required="required" readonly>
											<span
										ng-show="eventForm.eventdate.$dirty && eventForm.eventdate.$error.required"
										class="text-danger">Date is required</span>
									<span
										ng-show="eventForm.eventdate.$dirty && eventForm.eventdate.$error.date"
										class="text-danger">Date is invalid</span>
								</div>
								<div class="col-md-1">
									<span class="text-danger span">*</span>
								</div>
							</div>
							<div class="row margint">
								<div class="col-md-3">
									<label class="control-label">Location:</label>
								</div>
								<div class="col-md-7">
									<input type="text" name="location" ng-maxlength="255"
										class="form-control textbox" placeholder="event location"
										ng-model="event.eventLocation" required>
									<span
										ng-show="eventForm.location.$dirty && eventForm.location.$error.required"
										class="text-danger">Event location is required</span>
									<span
										ng-show="eventForm.location.$dirty && eventForm.location.$error.maxlength"
										class="text-danger">Event location maximum length should
										be 255</span>
								</div>
								<div class="col-md-1">
									<span class="text-danger span">*</span>
								</div>
							</div>
							<div class="row margint">
								<div class="col-md-3">
									<label class="control-label">Country:</label>
								</div>
								<div class="col-md-7">
									<input type="text" name="country" ng-maxlength="255"
										class="form-control textbox" placeholder="event country"
										ng-model="event.eventCountry">
									<span
										ng-show="eventForm.country.$dirty && eventForm.country.$error.maxlength"
										class="text-danger">Event country maximum length should be
										255</span>
								</div>

							</div>
							<div class="row margint">
								<div class="col-md-3">
									<label class="control-label">Description:</label>
								</div>
								<div class="col-md-7">
									<textarea name="description" rows="5" cols="100"
										class="form-control textbox" placeholder="event description"
										ng-model="event.eventDesc" required></textarea>
									<span
										ng-show="eventForm.description.$dirty && eventForm.description.$error.required"
										class="text-danger">Event description is required.</span>
								</div>
								<div class="col-md-1">
									<span class="text-danger span">*</span>
								</div>
							</div>
							<div class="row margint">
								<div class="col-md-3">
									<label class="control-label">Presenter:</label>
								</div>
								<div class="col-md-7">
									<input type="textarea" ng-maxlength="255" name="presenter"
										class="form-control textbox" placeholder="presenter details"
										ng-model="event.eventPresenterDeatils" required>
									<span
										ng-show="eventForm.presenter.$dirty && eventForm.presenter.$error.required"
										class="text-danger">Presenter is required</span>
									<span
										ng-show="eventForm.location.$dirty && eventForm.location.$error.maxlength"
										class="text-danger">Presenter maximum length should be 255</span>
								</div>
								<div class="col-md-1">
									<span class="text-danger span">*</span>
								</div>
							</div>
							<div class="row margint ">
								<div class="col-md-3">
									<label class="control-label">Event administrator:</label>
								</div>
								<div class="col-md-7">
									<select ng-model='event.eventAdmin' name="eventadmin"
										ng-options='option.userId as (option.firstName + " " + option.lastName) for option in users'
										class="form-control" required></select>
									<span
										ng-show="eventForm.eventadmin.$dirty && eventForm.eventadmin.$error.required"
										class="text-danger">Event administrator is required</span>
								</div>
								<div class="col-md-1">
									<span class="text-danger span">*</span>
								</div>
							</div>
							
							<div class="row margint">
								<div class="col-md-4 col-xs-4 col-md-offset-8">
									<button ng-disabled="eventForm.$invalid" type="button" style="display: inline-block;vertical-align: top;"
										class="btn btn-primary" ng-click="save()">Save</button>
		
									<button type="button" class="btn btn-primary" style="display: inline-block;vertical-align: top;"
										ng-click="cancel()">Cancel</button>
								</div>
							</div>
							
							<div class="row margint" style="border-bottom: 1px solid grey; padding-bottom: 35px"></div>
							<div class="row margint">
								<div class="col-md-3">
									<label style="font-size: 18px;">Participants:</label>
								</div>
								<div class="col-md-7">
									<span ng-show="event.eventParticipants.length == 0">No
										participants</span>
								</div>

							</div>
							<div class="row"
								style="border-bottom: 1px solid grey; padding-bottom: 35px">
								<div class="col-md-12">
									<table class="table"
										ng-show="event.eventParticipants.length > 0">
										<thead>
											<tr>
												<th style="font-size: 15px">Name</th>
												<th style="font-size: 15px">Email-Id</th>
												<th style="font-size: 15px">Action</th>
											</tr>
										</thead>
										<tr ng-repeat="participant in event.eventParticipants"
											class="content" >
											<td class="content" style="font-size:14px;">{{participant.firstName + "  " + participant.lastName}}</td>
											<td class="content" style="font-size:14px;">({{participant.emailId}})</td>
											<td align="justify" "><a ng-click="deleteParticipant(participant.userId)"
												class="btn btn-danger">Delete</a></td>
										</tr>
									</table>
								</div>
							</div>
							</div>
						</form>

						<div class="row margint">
							<div class="col-md-12">
								<label style="font-size: 18px;">Upload resources:</label>
							</div>
						</div>
						<form name="uploadingForm" enctype="multipart/form-data"
							action="/uploadfile" method="POST">
							<div class="row margint">
								<div class="col-md-12">
									<input type="hidden" name="eventId" value="{{event.eventId}}" />
									<p style="font-size: 14px;">
										<input style="float: left;margin-right: 10px;"  id="fileInput" type="file"
											name="uploadingFiles" filelist-bind multiple "> <input
											type="submit" class="btn btn-primary" value="Upload files"
											ng-disabled="isDisabled">
									</p>
								</div>
							</div>
						</form>
						<div ng-show="event.attachments.length > 0">
							<div class="row margint">
								<div class="col-md-3">
									<label class="control-label">Resources:</label>
								</div>
								<div class="col-md-10">
									<table class=" table">
										<thead>
											<tr>
												<th style="font-size: 13px">File</th>
												<th style="font-size: 13px">Action</th>

											</tr>
										</thead>
										<tr ng-repeat="attachment in event.attachments"
											style="font-size: 14px">
											<td><a href="/downloadAttachment/{{attachment.id}}"
												target="_blank" class="link">{{attachment.filename}}</a></td>
											
											<td><a ng-click="deleteAttachment(attachment.id)"
												class="btn btn-danger">Delete</a></td>
										</tr>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>