
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<div ng-controller="EditPrivilegeCtrl">
	<div class="container-fluid hightlight-section">
		<div class="">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-11">
							<p class="">{{pageHeader}}
							<p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row margint">
			<div class="col-md-3 col-md-offset-8 col-sm-6 col-sm-offset-5">
					<mandatory class="text-danger"></mandatory>
			</div>
		</div>
		<div class="row margint">
			<div class="col-md-8 col-md-offset-2">
				<div >
					<div class="row bor" style="border: 1px solid skyblue">
						<div class="col-md-12">
							<form name="roleForm" class="form-horizontal">
							  <div class="form-group">
								<div class="row margint">
									<div class="col-md-3">
										<label class="control-label"> ID:</label>
									</div>
									<div class="col-md-6">
										<input name="id" type="text" placeholder="ID" class="form-control textbox"
											ng-model="privilege.privilegeId" required /> <span
											ng-show="roleForm.id.$dirty && roleForm.id.$error.required"
											class="text-danger">Privilege Id cannot be null</span>
									</div>
									<div class="col-md-1">
										<span class="text-danger span">*</span>
									</div>
								</div>
								<div class="row margint">
									<div class="col-md-3">
										<label class="control-label"> Code:</label>
									</div>
									<div class="col-md-6">
										<input name="code" type="text" class="form-control textbox"
											placeholder="code" ng-model="privilege.code" required>
										<span
											ng-show="roleForm.code.$dirty && roleForm.code.$error.required"
											class="text-danger">Privilege code required</span>
									</div>
									<div class="col-md-1">
										<span class="text-danger span">*</span>
									</div>
								</div>
								<div class="row margint">
									<div class="col-md-3">
										<label class="control-label"> Description:</label>
									</div>
									<div class="col-md-6">
										<input name="DESCRIPTION" type="text"
											class="form-control textbox" placeholder="description"
											ng-model="privilege.description"
											ng-required="!privilege.privilegeId"> 
									</div>

								</div>

								<div class="row margint">
									<div class="col-md-4 col-xs-4 col-md-offset-7">
										<button ng-disabled="roleForm.$invalid" type="button"
											style="display: inline-block; vertical-align: top;"
											class="btn btn-primary" ng-click="save()">Save</button>

										<button type="button" class="btn btn-primary"
											style="display: inline-block; vertical-align: top;"
											ng-click="cancel()">Cancel</button>
									</div>
								</div>
                               </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

















