<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

<div class="container-fluid hightlight-section">
	<div class="">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-11">
						<p class="">{{pageHeader}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row margint">
		<div class="col-md-3 col-md-offset-8 col-sm-6 col-sm-offset-5">
				<mandatory class="text-danger"></mandatory>
		</div>
	</div>
	<div class="row margint">
		<div ng-controller="EditUserCtrl"
			class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
			<div class="row bor" style="border: 1px solid skyblue">
				<div class="col-md-12">
					<form name="userForm" class="form-horizontal">
					 <div class="form-group">
						<div class="row margint">
							<div class="col-md-3">
								<label class="control-label">First name:</label>
							</div>
							<div class="col-md-7">
								<input name="username" type="text"  placeholder="First name" ng-maxlength="255"
									class="form-control textbox" ng-model="user.firstName" required />
								<span
									ng-show="userForm.username.$dirty && userForm.username.$error.required"
									class="text-danger">First name is required.</span> <span
									ng-show="userForm.username.$dirty && userForm.username.$error.maxlength"
									class="text-danger">First name should have maximum length
									255</span>
							</div>
							<div class="col-md-1">
								<span class="text-danger span">*</span>
							</div>
						</div>
						<div class="row margint">
							<div class="col-md-3">
								<label class="control-label">Last name:</label>
							</div>
							<div class="col-md-7">
								<input name="lastname" type="text" ng-maxlength="255"
									class="form-control textbox" placeholder="Last name"
									ng-model="user.lastName"> <span
									ng-show="userForm.lastname.$dirty && userForm.lastname.$error.required"
									class="text-danger">Last name is required.</span> <span
									ng-show="userForm.lastname.$dirty && userForm.lastname.$error.maxlength"
									class="text-danger">Last name should have maximum length
									255</span>
							</div>

						</div>
						<div class="row margint">
							<div class="col-md-3">
								<label class="control-label">Email-Id:</label>
							</div>
							<div class="col-md-7">
								<input name="emailname" type="email" validate-email
									class="form-control textbox" placeholder="Email-Id"
									ng-model="user.emailId" required> <span
									ng-show="userForm.emailname.$dirty && userForm.emailname.$error.required"
									class="text-danger">Email-Id is required.</span> <span
									ng-show="userForm.emailname.$dirty && userForm.emailname.$error.email"
									class="text-danger">Email-Id is invalid</span>
							</div>
							<div class="col-md-1">
								<span class="text-danger span">*</span>
							</div>
						</div>
						<div class="row margint">
							<div class="col-md-3">
								<label class="control-label">Mobile:</label>
							</div>
							<div class="col-md-7">
								<input name="mobile" type="text" ng-minlength="10"
									ng-maxlength="14" validate-mobile class="form-control textbox"
									placeholder="Mobile" ng-model="user.mobileNumber" required>
								<span
									ng-show="userForm.mobile.$dirty && userForm.mobile.$error.required"
									class="text-danger">Mobile number is required</span> <span
									ng-show="userForm.mobile.$dirty && userForm.mobile.$error.text"
									class="text-danger">Mobile number is invalid, please
									match pattern [+91-902-036-8658 or 91-902-036-8658]</span> <span
									ng-show="userForm.mobile.$dirty && userForm.mobile.$error.minlength"
									class="text-danger">Mobile number should be minimum 10
									digits</span> <span
									ng-show="userForm.mobile.$dirty && userForm.mobile.$error.maxlength"
									class="text-danger">Mobile number should be maximum 14
									digits</span>
							</div>
							<div class="col-md-1">
								<span class="text-danger span">*</span>
							</div>
						</div>
						<div class="row margint">
							<div class="col-md-3">
								<label class="control-label">Password:</label>
							</div>
							<div class="col-md-7">
								<input name="user_password" type="password"
									class="form-control textbox" placeholder="Password"
									ng-model="user.rawPassword" ng-required="passReq"> <span
									ng-show="userForm.user_password.$dirty && userForm.user_password.$error.required"
									class="text-danger">Password is required.</span>
							</div>
							<div class="col-md-1">
								<span class="text-danger span">*</span>
							</div>
						</div>
						<div class="row margint">
							<div class="col-md-3 col-sm-3 col-xs-3">
								<label class="custom-control-description">Active:</label>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-4">
								<input name="Active" class="custom-control-input"
									type="radio" ng-model="user.active" value="1"><label class="custom-control-description" style="padding:4px;">Active</label>
								</label>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-4">
								 <input name="InActive"  class="custom-control-input"
									type="radio" ng-model="user.active" value="0"> <label class="custom-control-description" style="padding:4px;">Inactive</label>

							</div>
						</div>
						<label class="margint">Roles:</label>
						<div class="">
							<div class="row">

								<div class="col-md-8 col-sm-10 col-sm-offset-1">
									<div class="row" ng-repeat="role in roles">
										<div class="col-md-4 col-md-offset-3  col-sm-3">
											<span>{{role.name}}</span>
										</div>

										<div>
											<input name="rolename" type="checkbox" placeholder="role"
												ng-model="role.selected">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row margint">
							<div class="col-md-4 col-xs-4 col-md-offset-8">
								<button ng-disabled="userForm.$invalid" type="button"
									class="btn btn-primary"
									style="display: inline-block; vertical-align: top;"
									ng-click="save()">Save</button>

								<button type="button" class="btn btn-primary"
									style="display: inline-block; vertical-align: top;"
									ng-click="cancel()">Cancel</button>
							</div>
						</div>
					  </div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>